[submodule "libmedia"]
	path = libmedia
	url = https://github.com/nthend/libmedia.git
[submodule "libgraphics"]
	path = libgraphics
	url = https://github.com/nthend/libgraphics.git
[submodule "quadtree"]
	path = quadtree
	url = https://github.com/fti-ooad-project/quadtree.git
[submodule "libla"]
	path = libla
	url = https://github.com/nthend/libla.git
